	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1>Emily Morgan</h1>
				</div>
				<div class="pull-right">
					<ul>
						<li class="active"><a href="index.html">Work</a></li>
						<li><a href="pages/about.html">About</a></li>
						<li><a href="pages/contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="pull-right">
					<h1>Using coding languages to make the internet beautiful</h1>
          <a href="#" class="btn">View my Work</a>
				</div>
			</div>
		</div>
	</div>

<div class="footer">
		<div class="container">
			<ul>
				<li><a href="mailto:emorgan05@gmail.com">Email</a></li>
				<li><a href="https://mobile.twitter.com/emorgan0530">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/emily-morgan-55061b87">LinkedIn</a></li>
			</ul>
		</div>
	</div>